body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.games {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}
.game {
  background: #fff;
  border-radius: 5rem;
  padding: 1rem 2rem;
}

.game h1 {
  margin-top: 0.5rem;
}
.game h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
